body {
    text-align: center;
    background-color: white;
    color:black
}
.header{
    padding: 20px;
    background-color: royalblue;
    color: red;
    font-family: italic;
    margin: 50px;
}

.modal{
    display: block;
    text-align: center;
    background-color: aquamarine;
    color: black;
}

.rst{
    background-color: aquamarine;
}

/* .board{
    background-color: blueviolet;
    border:1px solid black;
    text-align: center;
    display: block;
    margin: auto;
    height: 480px;
    width: 480px;
} */
.clock{
    display: inline;
}
.mines{
    display: inline;
}


/* .game{
    display: block;
    text-align: center;
    margin-inline: 10px;
} */

/* table{
    height: 480px;
    width: 480;
} */
.cell {
    background-color: gray;
    border: 2px solid black;
    height:40px;
    width:40px;
    text-align: center;
    cursor: pointer;
    margin: none;
}
.cell:hover{
    padding: 3px solid teal;
    border:2px solid teal;
    color: blue;
}
/* .cell img {width:25px; height:auto} */